@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Módulo 17E</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>MVC</p>
    </div>
    <div class="col-md-4">
     <p>Batatas</p>
    </div>
    <div class="col-md-4">
       <p>AlunosNET</p>
    </div>
</div>